<% if @cart.empty? %>
<p>You have not added any items yet</p>
<% end %>

<p id="notice"><%= notice %></p>
<div id="itemsContainer">
    <table id="customers">
        <% total = 0 %>
        <% @cart.each do |id, quantity| %>
          <% item = Item.find_by_id(id) %>
         <tr>
            <td>
                <div class="image">
                  <%= link_to (image_tag item.image_url, :style =>"height:40px"), item %>
                </div>

                </td>
                            
            <td class="title"><%= link_to item.title, item %></td>
            <td class="price"><%= number_to_currency(item.price, :unit =>"€") %></td>
            <td class="quantity"><%= quantity %></td>
            <td><a href="/cart/remove/<%= item.id %>">Remove From Cart</a></td>
             <td><a href="/cart/decrease/<%= item.id %>">Decrease</a></td>
            <td 

        </tr>
            <% total += quantity * item.price %>
        <% end %>
        <tr>
            Grand Total: <%= number_to_currency(total, :unit => "€") %>
         </tr>
         
        <p>
            
        <% if @cart.empty? %>
            <h1> Your cart is empty</h1>
        <%end%>
        
        <a href="/checkout" class="button">Checkout</a>
            <a href="/items" class="button">Continue Shopping</a>
            <a href="/cart/clear" class="button">Clear Cart</a>
           
            
        </p>

    </table>
      </div>

