<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

   
<% if @order.user.email == @user.email %>
<% else %>
   
<h1>You did not place this order</h1>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
